<script>
  import Nav from "../components/Nav.svelte";

  export let segment;
</script>

<style>
  main {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: white; */
    box-sizing: border-box;
  }
  .padded {
    padding-bottom: 64px;
  }
  @media screen and (min-width: 1024px) {
    main {
      padding-bottom: none;
    }
    .padded {
      padding-left: 300px;
    }
  }
</style>

{#if segment != 'register' && segment !='login'}
  <Nav {segment} />
  <main class="padded">
    <slot />
  </main>
{:else}
  <main>
    <slot />
  </main>
{/if}
