<script>

  import { fly } from 'svelte/transition'
  import { circInOut } from 'svelte/easing'
import OlympicCounter from '../components/OlympicCounter.svelte'
import Button from '../components/Button.svelte'
import { fullWidth } from 'validator/lib/isFullWidth'

let text = {
  register: "Зарегистрироваться"
}


  </script>
  
  <svelte:head>
    <title>Олимпиады</title>
  </svelte:head>

<style>
    .content {
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .max-container {
    max-width: 500px;
    width: 100%;
  }
</style>
  
  <div in:fly={{ duration: 200, easing: circInOut, y: 50}} class="content">
    <div class="max-container">
      <OlympicCounter/>
      <Button fullWidth smallMargin secondary on:click={() => text.register = "Спасибо"}>{text.register}</Button>
    </div>
  </div>
  