<script context="module">
  export async function preload(page, session) {
    const res = await this.fetch(`locale/index.json`);
    const strings = await res.json();
    const host = session.PROBLEMS_API_HOST;

    let user;
    const data = await this.fetch(`${session.PROBLEMS_API_HOST}/users/me`, {
      headers: {
        "Content-type": "application/json",
        Accepts: "application/json",
        Authorization: session.jwt,
      },
      method: "GET",
    });
    if (data.status === 200) user = await data.json();
    return { strings, user, host };
  }
</script>

<script>
  import { goto } from "@sapper/app";
  import Card from "../components/Card.svelte";
  import { fly } from "svelte/transition";
  import { circInOut } from "svelte/easing";
  import OlympicCounter from "../components/OlympicCounter.svelte";
  import { onMount } from "svelte";
  import LinearProgress from "../components/LinearProgress.svelte";
  import Button from "../components/Button.svelte";

  export let user;

  export let host;

  export let strings;

  let text = strings["ru"];

  onMount(() => {
    console.log(user);
  });
</script>

<style>
  .content {
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .max-container {
    max-width: 500px;
    width: 100%;
  }
  h2 {
    margin: 0 0 12px 0;
    font-size: 24px;
    font-weight: 700;
    /* opacity: 0.8; */
  }
  h3 {
    margin: 0 0 8px 0;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.67;
  }
  h4 {
    font-size: 11px;
    margin: 0;
    /* padding: 12px 8px; */
    text-transform: uppercase;
    letter-spacing: 2px;
    box-sizing: border-box;
    border-radius: 9.5px;
    border-radius: 2px solid rgba(0, 0, 0, 0.25);
  }
  .profile {
    display: flex;
    flex-direction: row;
  }
  .avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px;
    background-color: #dde1e6;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  }
  :global(.logo) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 16px 0;
  }
</style>

<svelte:head>
  <title>{text.main}</title>
</svelte:head>

<div in:fly={{ duration: 200, easing: circInOut, y: 50 }} class="content">
  <div class="max-container">
    <div class="logo">
      <svg
        width="113"
        height="17"
        viewBox="0 0 113 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M25.1 16.7H23.6H22V8.3V0H23.5H25V3.1V6.2C25.5 5.6 26 5.1 26.6 4.8C27.2 4.5 27.9 4.3 28.6 4.3C29.4 4.3 30 4.4 30.7 4.7C31.3 5 31.9 5.5 32.4 6C32.9 6.6 33.2 7.2 33.5 8C33.7 8.8 33.9 9.6 33.9 10.6C33.9 11.6 33.8 12.5 33.5 13.2C33.3 14 32.9 14.6 32.4 15.2C31.9 15.8 31.4 16.2 30.7 16.5C30.1 16.8 29.4 16.9 28.6 16.9C27.9 16.9 27.2 16.7 26.6 16.4C26 16.1 25.5 15.6 25 15V15.8V16.7H25.1ZM25.1 12.8C25.2 13 25.4 13.2 25.6 13.3C25.8 13.4 26 13.6 26.3 13.7C26.5 13.8 26.8 13.9 27 14C27.2 14.1 27.5 14.1 27.7 14.1C28.1 14.1 28.5 14 28.9 13.9C29.3 13.8 29.6 13.5 29.8 13.2C30.1 12.9 30.3 12.5 30.4 12.1C30.5 11.7 30.6 11.2 30.6 10.7C30.6 10.2 30.5 9.7 30.4 9.3C30.3 8.9 30.1 8.5 29.8 8.2C29.5 7.9 29.2 7.6 28.9 7.5C28.6 7.4 28.1 7.3 27.7 7.3C27.5 7.3 27.2 7.3 27 7.4C26.8 7.5 26.5 7.6 26.3 7.7C26 7.7 25.7 7.8 25.5 8C25.3 8.2 25.2 8.4 25 8.5V10.6V12.8H25.1ZM46.2 16.7H44.7H43.2V16.1V15.5C42.8 16 42.3 16.4 41.6 16.7C41 16.9 40.3 17 39.5 17C39 17 38.5 16.9 38 16.7C37.5 16.5 37.1 16.3 36.7 15.9C36.3 15.5 36 15.1 35.8 14.6C35.6 14.1 35.5 13.6 35.5 12.9C35.5 12.2 35.6 11.7 35.8 11.2C36 10.7 36.3 10.3 36.7 10C37.1 9.7 37.5 9.4 38 9.3C38.5 9.1 39 9.1 39.5 9.1C40.3 9.1 41.1 9.2 41.7 9.5C42.3 9.7 42.8 10.1 43.2 10.6V9.8V8.9C43.2 8.6 43.1 8.3 43 8.1C42.9 7.9 42.7 7.6 42.5 7.5C42.3 7.3 42 7.2 41.7 7.1C41.4 7 41 7 40.7 7C40.1 7 39.5 7.1 38.9 7.4C38.3 7.6 37.8 8 37.3 8.5L36.7 7.4L36 6.2C36.7 5.6 37.5 5.1 38.3 4.8C39.1 4.5 40.1 4.3 41.1 4.3C41.8 4.3 42.5 4.4 43.1 4.6C43.7 4.8 44.3 5 44.7 5.4C45.2 5.8 45.5 6.2 45.8 6.8C46.1 7.4 46.2 8.1 46.2 8.9V12.8V16.7ZM40.7 14.8C41.3 14.8 41.8 14.7 42.2 14.5C42.6 14.3 42.9 14.1 43.2 13.7V13V12.2C43 11.8 42.6 11.6 42.2 11.4C41.8 11.2 41.3 11.1 40.7 11.1C40.4 11.1 40.1 11.1 39.8 11.2C39.5 11.3 39.3 11.4 39.1 11.6C38.9 11.8 38.7 12 38.6 12.2C38.5 12.4 38.4 12.7 38.4 13C38.4 13.3 38.5 13.5 38.6 13.7C38.7 13.9 38.9 14.1 39.1 14.3C39.3 14.5 39.5 14.6 39.8 14.7C40.1 14.8 40.4 14.8 40.7 14.8ZM52.3 16.7H50.8H49.3V8.3V0H50.8H52.3V8.3V16.7ZM65.4 16.7H63.9H62.4V16.1V15.5C62 16 61.5 16.4 60.8 16.7C60.1 17 59.5 17 58.7 17C58.2 17 57.7 16.9 57.2 16.7C56.7 16.5 56.3 16.3 55.9 15.9C55.5 15.5 55.2 15.1 55 14.6C54.8 14.1 54.7 13.6 54.7 12.9C54.7 12.2 54.8 11.7 55 11.2C55.2 10.7 55.5 10.3 55.9 10C56.3 9.7 56.7 9.4 57.2 9.3C57.7 9.1 58.2 9.1 58.7 9.1C59.5 9.1 60.3 9.2 60.9 9.5C61.5 9.7 62 10.1 62.4 10.6V9.8V8.9C62.4 8.6 62.3 8.3 62.2 8.1C62.1 7.9 61.9 7.6 61.7 7.5C61.5 7.3 61.2 7.2 60.9 7.1C60.6 7 60.2 7 59.9 7C59.3 7 58.7 7.1 58.1 7.4C57.5 7.6 57 8 56.5 8.5L55.9 7.4L55.3 6.3C56 5.7 56.8 5.2 57.6 4.9C58.4 4.6 59.4 4.4 60.4 4.4C61.1 4.4 61.8 4.5 62.4 4.7C63 4.9 63.5 5 64 5.4C64.5 5.8 64.8 6.2 65.1 6.8C65.4 7.4 65.5 8.1 65.5 8.9V12.8V16.7H65.4ZM59.9 14.8C60.5 14.8 61 14.7 61.4 14.5C61.8 14.3 62.1 14.1 62.4 13.7V13V12.2C62.2 11.8 61.8 11.6 61.4 11.4C61 11.2 60.5 11.1 59.9 11.1C59.6 11.1 59.3 11.1 59 11.2C58.7 11.3 58.5 11.4 58.3 11.6C58.1 11.8 57.9 12 57.8 12.2C57.7 12.4 57.6 12.7 57.6 13C57.6 13.3 57.7 13.5 57.8 13.7C57.9 13.9 58.1 14.1 58.3 14.3C58.5 14.5 58.7 14.6 59 14.7C59.3 14.8 59.6 14.8 59.9 14.8ZM72.4 17C71.9 17 71.4 16.9 71 16.8C70.6 16.7 70.2 16.4 70 16.2C69.7 15.9 69.5 15.6 69.4 15.2C69.3 14.8 69.2 14.3 69.2 13.8V10.6V7.4H68.2H67.2V6V4.6H68.2H69.2V3V1.3H70.7H72.2V3V4.7H73.4H74.6V6V7.4H73.4H72.2V10.1V12.8C72.2 13 72.2 13.2 72.3 13.3C72.4 13.4 72.4 13.6 72.5 13.7C72.6 13.8 72.7 13.9 72.8 14C72.9 14.1 73.1 14.1 73.2 14.1C73.4 14.1 73.7 14.1 73.8 14C74 13.9 74.1 13.9 74.2 13.7L74.5 14.9L74.8 16.1C74.5 16.4 74.2 16.6 73.7 16.7C73.5 16.9 73 17 72.4 17ZM82.1 17C81.2 17 80.4 16.9 79.6 16.6C78.9 16.3 78.2 15.9 77.6 15.3C77 14.7 76.6 14 76.3 13.3C76 12.5 75.9 11.7 75.9 10.7C75.9 9.8 76 9 76.3 8.2C76.6 7.4 77 6.8 77.6 6.2C78.2 5.6 78.8 5.1 79.5 4.8C80.2 4.5 81 4.3 81.9 4.3C82.8 4.3 83.6 4.5 84.3 4.8C85 5.1 85.6 5.6 86.2 6.2C86.7 6.8 87.1 7.5 87.4 8.3C87.7 9.1 87.8 10 87.8 11V11.4V11.8H83.5H79.2C79.2 12.2 79.4 12.6 79.5 12.9C79.7 13.2 79.9 13.5 80.2 13.8C80.5 14.1 80.8 14.3 81.2 14.4C81.6 14.5 82 14.6 82.5 14.6C82.8 14.6 83 14.6 83.3 14.5C83.6 14.4 83.9 14.4 84.2 14.3C84.5 14.2 84.8 14.1 85 13.9C85.2 13.8 85.4 13.6 85.6 13.4L86.3 14.4L87 15.4C86.4 16 85.7 16.4 84.9 16.7C84 16.9 83.1 17 82.1 17ZM84.8 9.5C84.8 9.2 84.7 8.8 84.6 8.5C84.5 8.2 84.3 7.9 84 7.6C83.8 7.3 83.5 7.1 83.1 7C82.7 6.9 82.3 6.8 81.9 6.8C81.5 6.8 81.1 6.9 80.7 7C80.4 7.1 80.1 7.3 79.8 7.6C79.6 7.9 79.4 8.2 79.2 8.5C79.1 8.8 79 9.1 78.9 9.5H81.8H84.8ZM95.4 17C94.5 17 93.7 16.9 92.9 16.6C92.1 16.3 91.5 15.9 90.9 15.3C90.3 14.7 89.9 14 89.6 13.3C89.3 12.6 89.2 11.7 89.2 10.8C89.2 9.9 89.3 9 89.6 8.3C89.9 7.6 90.3 6.9 90.9 6.3C91.5 5.7 92.1 5.3 92.9 5C93.6 4.7 94.5 4.6 95.4 4.6C96.4 4.6 97.3 4.8 98.1 5.1C98.9 5.5 99.5 6 100 6.7L99 7.7L98 8.7C97.7 8.3 97.4 7.9 97 7.7C96.6 7.5 96.1 7.4 95.6 7.4C95.1 7.4 94.7 7.5 94.3 7.6C93.9 7.8 93.6 8 93.3 8.3C93 8.6 92.8 9 92.6 9.4C92.5 9.8 92.4 10.3 92.4 10.8C92.4 11.3 92.5 11.8 92.6 12.2C92.7 12.6 93 13 93.3 13.3C93.6 13.6 93.9 13.9 94.3 14C94.7 14.2 95.1 14.2 95.6 14.2C96.1 14.2 96.6 14.1 97 13.9C97.4 13.7 97.8 13.4 98.1 12.9L99.1 13.9L100.1 14.9C99.6 15.6 99 16.2 98.2 16.6C97.4 17 96.5 17 95.4 17ZM113 16.7H111.5H110V13V9.3C110 8.9 110 8.6 109.9 8.3C109.8 8 109.7 7.8 109.5 7.6C109.3 7.4 109.1 7.3 108.8 7.2C108.5 7.1 108.2 7.1 107.9 7.1C107.4 7.1 106.9 7.2 106.4 7.5C106 7.7 105.6 8.1 105.2 8.6V12.7V16.8H103.7H102V8.3V0H103.5H105V3.1V6.2C105.2 5.9 105.5 5.7 105.7 5.5C106 5.3 106.3 5.1 106.7 4.9C107.1 4.7 107.4 4.6 107.8 4.5C108.2 4.4 108.6 4.4 109.1 4.4C109.7 4.4 110.3 4.5 110.8 4.7C111.3 4.9 111.7 5.1 112 5.5C112.3 5.8 112.6 6.2 112.7 6.7C112.9 7.2 112.9 7.7 112.9 8.3V12.6V16.7H113ZM12 1H8H4C2.9 1 1.9 1.4 1.2 2.2C0.5 3 0 3.9 0 5V9V13C0 14.1 0.4 15.1 1.2 15.8C1.9 16.6 2.9 17 4 17H8H12C13.1 17 14.1 16.6 14.8 15.8C15.5 15.1 16 14.1 16 13V9V5C16 3.9 15.6 2.9 14.8 2.2C14.1 1.4 13.1 1 12 1ZM3.9 12.3L3.4 11.8L2.9 11.3L4 10.1L5.1 9L4 7.8L2.8 6.7L3.3 6.2L3.8 5.7L5.5 7.4L7.2 9L5.5 10.7L3.9 12.3ZM12.8 12.5H10.6H8.3V11.8V11H10.5H12.7V11.7V12.5H12.8Z"
          fill="#171717" />
      </svg>
      <Button secondary on:click={() => window.location.href = '/auth/logout'}>Выход</Button>
    </div>
    <Card>
      <div class="profile">
        <img class="avatar" src={host + user.avatar} alt="avatar" />
        <div class="more">
          <h2 style="font-size: 20px">
            {user.firstName + ' ' + user.lastName}
          </h2>
          <h4 style="color: #2F80ED">
            <strong>{user.rank.name + ' | ' + user.xp + ' XP'}</strong>
          </h4>
        </div>
      </div>
      <br />
      <h3>До следуещего ранга:</h3>
      <h4 style="color: #2F80ED; margin-bottom: 8px;">
        <strong>{user.xp + ' / ' + user.rank.xpTo}</strong>
      </h4>
      <LinearProgress percentage={(user.xp / user.rank.xpTo) * 100} />
    </Card>
    <br />
    <Card on:click={() => window.location.href = ('/engine?level_id=' + user.currentLevel.id)}>
      <h3>Текущая задача</h3>
      <h2>{user.currentLevel.name}</h2>
      <h4>{user.currentLevel.stageName}</h4>
    </Card>
    <br />
    <OlympicCounter on:click={() => goto('/contests')} />
  </div>
</div>
