<script context="module">
  export async function preload(page, session) {
    const res = await this.fetch(`locale/login.json`);
    const strings = await res.json();
    let host = session.PROBLEMS_API_HOST
    return { strings, host };
  }
</script>

<script>
  import { goto } from "@sapper/app";
  import { fullWidth } from "validator/lib/isFullWidth";
  import TextField from "../components/TextField.svelte";
  import Button from "../components/Button.svelte";

  let inputFields = {
    email: "",
    password: "",
  };

  export let strings;

  let text = strings["ru"];

  let disabled = true

  $: disabled = (inputFields["email"] === '' || inputFields["password"] === '') ? true : false

  const handleTextInput = (evt) => {
    const value = evt.target.value;
    const id = evt.target.id;
    inputFields[id] = value;
  };

  const login = async () => {
    try {
      disabled = true
      let response = await fetch(`/auth/login`, {
        method: "POST",
        credentials: "include",
        headers: {
          "Content-type": "application/json",
          Accepts: "text/plain",
        },
        body: JSON.stringify({
          email: inputFields["email"],
          password: inputFields["password"],
        }),
      });
      if (response.status === 200) {
        goto("/");
      }
    } catch (err) {
      disabled = false
      console.log(err);
    }
  };
</script>

<style>
  form {
    display: flex;
    flex-direction: column;
  }
  .smaller {
    margin-bottom: 0px;
  }
  .margin-top {
    margin: 12px 8px 24px 8px;
    text-align: center;
  }
  .content {
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .max-container {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin: 24px 0;
  }
  p {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.67);
  }
</style>

<div class="content">
  <div class="max-container">
    <h1 class="smaller">{text.login}</h1>
    <p class="margin-top">{text.pleaseLogin}</p>
    <form method="POST" action="/auth/login">
    <TextField type="email" on:input={handleTextInput} placeholder={text.email} id="email" name="email"/>
    <TextField
      type="password"
      on:input={handleTextInput}
      placeholder={text.password}
      id="password" name="password"/>
    <Button type="submit" fullWidth text={text.login} on:click={login}/>
  </form>
  </div>
</div>
