<script context="module">
  export async function preload(page, session) {
    const res = await this.fetch(`locale/registration-index.json`);
    const strings = await res.json();
    let host = session.PROBLEMS_API_HOST
    return { strings, host };
  }
</script>

<script>
  import { goto } from "@sapper/app";
  import Button from "../../components/Button.svelte";
  import TextField from "../../components/TextField.svelte";
  import { circOut } from "svelte/easing";
  import { fly } from "svelte/transition";
  import { isEmail, isPassword, isName } from "../../util/utilities";
  import Search from "../../components/Search.svelte";
  import SchoolSearch from "../../components/SchoolSearch.svelte";
  import InputFile from "../../components/InputFile.svelte";
  import { fullWidth } from "validator/lib/isFullWidth";
  import Selector from "../../components/Selector.svelte";
  let stage = 0;

  export let host;

  let inputFields = {
    firstName: {
      value: "",
      error: false,
    },
    lastName: {
      value: "",
      error: false,
    },
    email: {
      value: "",
      error: false,
    },
    password: {
      value: "",
      error: false,
    },
  };

  let areFieldsValid = false;

  export let strings;

  let language = "ru";
  let text = strings[language];
  $: text = strings[language];

  const validateInput = async (id) => {
    const value = inputFields[id].value;

    let errorMessage = text.errorOnlyLetters;
    let isValid = false;

    switch (id) {
      case "firstName":
      case "lastName":
        isValid = isName(value);
        break;
      case "email":
        isValid = isEmail(value);
        errorMessage = text.errorCheckInput;
        break;
      case "password":
        isValid = isPassword(value);
        errorMessage = text.errorPaswordShould;
        break;
    }
    inputFields[id].error = isValid ? false : errorMessage;
    areFieldsValid = checkFieldsForValidity();
    console.log({
      value,
      id,
      errorMessage,
    });
  };

  const handleTextInput = (evt) => {
    evt.preventDefault();
    const target = evt.target;
    inputFields[target.id].value = target.value;
    validateInput(target.id);
  };

  const checkFieldsForValidity = () => {
    return !Object.entries(inputFields).some(
      ([key, value]) => value.error || value.value.length == 0
    );
  };

  const sendDataToServer = async () => {
    areFieldsValid = false;

    let stringifiedData = JSON.stringify({
      firstName: inputFields["firstName"].value,
      lastName: inputFields["lastName"].value,
      email: inputFields["email"].value,
      password: inputFields["password"].value,
    });
    console.log(stringifiedData);
    try {
      let response = await fetch("/register/validate", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Accepts: "application/json",
        },
        body: stringifiedData,
      });
      let result = await response.json();
      Object.keys(result).map((key) => {
        inputFields[key].error = text[result[key]];
      });
    } catch (err) {
      return err;
    }
    if (checkFieldsForValidity()) {
      stage = 1;
    } else areFieldsValid = false;
  };

  let region = false;
  let school = false;
  let grade;

  let schoolDisabled = false

  const register = async () => {
    schoolDisabled = true
    let data = {
      email: inputFields["email"].value,
      password: inputFields["password"].value,
      firstName: inputFields["firstName"].value,
      lastName: inputFields["lastName"].value,
      language: language || "ru",
      country: region.country,
      locality: region.locality,
      school: school || "none",
      grade: grade || 1,
    };
    try {
      let response = await fetch(`${host}/auth/signup`, {
        method: "POST",
        credentials: 'same-origin',
        headers: {
          "Content-type": "application/json",
          Accepts: "application/json",
        },
        body: JSON.stringify(data),
      });
      if (response.status === 200) {
        console.log("profile created");
        await login()
      }
    } catch (err) {
      schoolDisabled = false
      console.log(err);
    }
  };

  const login = async () => {
    schoolDisabled = true
    try {
      let response = await fetch(`/auth/login`, {
        method: 'POST',
        redirect: 'follow',
        credentials: 'include',
        headers: {
          'Content-type': 'application/json',
          'Accepts': 'text/plain'
        },
        body: JSON.stringify({
          email: inputFields['email'].value,
          password: inputFields['password'].value
        }),
      })
      if (response.status === 200) {
        window.location.href = response.url
      }
    }
    catch (err) {
      schoolDisabled = false
      console.log(err);
    }
  }
</script>

<style>
  .smaller {
    margin-bottom: 0px;
  }
  .margin-top {
    margin: 12px 8px 24px 8px;
    text-align: center;
  }
  .content {
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .max-container {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .margin-left {
    margin-left: 8px;
  }
  .double {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
  }
  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin: 24px 0;
  }
  p {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.67);
  }
  .lang-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px 8px 8px;
  }
  .margin-left-icon {
    margin-left: 8px;
    margin-bottom: 1px;
    pointer-events: none;
  }
  :global(.progress-bar) {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  :global(.dot) {
    background-color: #dde1e6;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin: 4px;
    transition: all 100ms ease;
  }
  :global(.dot-active) {
    background-color: black;
    transition: all 100ms ease;
  }
</style>

<svelte:head>
  <title>{text.registration}</title>
</svelte:head>

{#if stage === 0}
  <div class="content" in:fly={{ y: -50, easing: circOut, duration: 200 }}>
    <div class="max-container">
      <h1>{text.registration}</h1>
      <div class="lang-selector">
        <Button
          secondary
          on:click={() => (language = language === 'ru' ? 'ky' : 'ru')}>
          {text.lang}
          <svg
            focusable="false"
            class="margin-left"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="18"
            height="18"
            viewBox="0 0 32 32"
            aria-hidden="true"><path
              d="M27.85 29H30L24 14H21.65l-6 15H17.8l1.6-4h6.85zM20.2 23l2.62-6.56L25.45 23zM18 7V5H11V2H9V5H2V7H12.74a14.71 14.71 0 01-3.19 6.18A13.5 13.5 0 017.26 9H5.16a16.47 16.47 0 003 5.58A16.84 16.84 0 013 18l.75 1.86A18.47 18.47 0 009.53 16a16.92 16.92 0 005.76 3.84L16 18a14.48 14.48 0 01-5.12-3.37A17.64 17.64 0 0014.8 7z" />
            <title>Translate</title></svg>
        </Button>
      </div>
      <div class="double">
        <TextField
          on:input={handleTextInput}
          value={inputFields['firstName'].value}
          error={inputFields['firstName'].error}
          placeholder="Имя"
          id="firstName" />
        <TextField
          on:input={handleTextInput}
          value={inputFields['lastName'].value}
          error={inputFields['lastName'].error}
          placeholder="Фамилия"
          id="lastName" />
      </div>
      <TextField
        on:input={handleTextInput}
        value={inputFields['email'].value}
        error={inputFields['email'].error}
        type="email"
        placeholder="E-mail"
        id="email" />
      <TextField
        on:input={handleTextInput}
        value={inputFields['password'].value}
        error={inputFields['password'].error}
        type="password"
        placeholder="Пароль"
        id="password" />
      <Button fullWidth disabled={!areFieldsValid} on:click={sendDataToServer}>
        {text.next}
      </Button>
      <div class="lang-selector">
        <Button secondary on:click={() => window.location.href = '/login'}>{text.login}</Button>
      </div>
    </div>
  </div>
{:else if stage === 1}
  <div class="content" in:fly={{ y: -50, easing: circOut, duration: 200 }}>
    <div class="max-container">
      <h1 class="smaller">{text.registrationTwo}</h1>
      <p class="margin-top">{text.selectRegion}</p>
      <Search placeholder={text.startTypingRegion} bind:selected={region} />
      <!-- <Button secondary smallMargin fullWidth>
        {text.findMyLocation}
        <svg class="margin-left-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/></svg>
      </Button> -->
      <Button
        fullWidth
        smallMargin
        disabled={region === false}
        on:click={() => (stage = 2)}>
        {text.next}
      </Button>
    </div>
  </div>
{:else if stage === 2}
  <div class="content" in:fly={{ y: -50, easing: circOut, duration: 200 }}>
    <div class="max-container">
      <h1 class="smaller">{text.school}</h1>
      <p class="margin-top">{text.selectSchool}</p>
      <SchoolSearch
        countryCode={region.countryCode || false}
        placeholder={text.startSchool}
        bind:selected={school} />
      <Selector
        bind:selected={grade}
        options={[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]}
        decorator=" класс" />
      <Button
        fullWidth
        smallMargin
        disabled={school === false || schoolDisabled}
        on:click={register}>
        {text.register}
      </Button>
    </div>
  </div>
  <!-- {:else if stage === 3}
  <div class="content">
    <div class="max-container">
      <h1 class="smaller">{text.avatar}</h1>
      <p class="margin-top">{text.uloadAvatar}</p>
      <InputFile />
      <Button fullWidth smallMargin on:click={() => register()}>
        {text.endRegistration}
      </Button>
    </div>
  </div> -->
{/if}

<div class="progress-bar">
  <span class={'dot' + (stage === 0 ? ' dot-active' : '')} />
  <span class={'dot' + (stage === 1 ? ' dot-active' : '')} />
  <span class={'dot' + (stage === 2 ? ' dot-active' : '')} />
</div>
