<script>
  // export let id = ''

  export let fullWidth = false
  export let secondary = false
  export let disabled = false
  export let smallMargin = false
  export let text = ""
  export let type = 'button'

</script>

<style>
  * {
    appearance: none;
    border: none;
    outline: none;
  }
  button, input {
    padding: 12px 16px;
    font-family: inherit;
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms cubic-bezier(0.25, 1, 0.5, 1);
  }
  button:active, input:active {
    transition: all 50ms cubic-bezier(0.25, 1, 0.5, 1);
  }
  button:disabled, input:disabled {
    opacity: 0.6;
    transform: scale(0.97);
    transition: all 200ms cubic-bezier(0.25, 1, 0.5, 1);
  }
  /* button:hover {
    transform: scale(1.1);
    transition: all 200ms cubic-bezier(0.25, 1, 0.5, 1);
  } */
  :global(.idc--fullWidth) {
    margin: 16px 8px;
    width: calc(100% - 16px);
  }
  :global(.idc--primary.idc--fullWidth:active) {
    transform: scale(0.97);
    opacity: 0.8;
  }
  :global(.idc--primary) {
    font-weight: 400;
    color: white;
    background-color: black;
    box-shadow: 0px 4px 8px #22282b66;
  }
  :global(.idc--smallMargin) {
    margin: 8px;
  }
  :global(.idc--primary:hover) {
    opacity: 0.9;
  }
  :global(:not(.idc--fullWidth).idc--primary:active) {
    transform: scale(0.9);
    opacity: 0.8;
  }
  :global(.idc--secondary) {
    font-weight: 600;
    color: #2F80ED;
    background-color: transparent;
  }
  :global(.idc--secondary:hover) {
    color: rgb(47, 128, 237, 0.8);
    background-color: #f2f4f8;
  }
  :global(.idc--secondary:active) {
    transform: scale(0.9);
    background-color: #dde1e6;
  }
</style>
{#if type === 'button'}
<button on:click {disabled} class={(secondary ? 'idc--secondary' : 'idc--primary') + (fullWidth ? ' idc--fullWidth' : '') + (smallMargin ? ' idc--smallMargin': '')}>
  <slot/>
</button>
{:else if type === 'submit'}
<input type="submit" on:click {disabled} class={(secondary ? 'idc--secondary' : 'idc--primary') + (fullWidth ? ' idc--fullWidth' : '') + (smallMargin ? ' idc--smallMargin': '')} value={text}>
{/if}