<script>

  export let disabled = false
</script>
<style>
  :global(.card-simple) {
    background-color: #ffffff;
    border: 2px white solid;
    box-sizing: border-box;
    /* box-shadow: 10px 10px 20px #dadcdf, -10px -10px 20px #ffffff; */
    border-radius: 8px;
    padding: 24px;
    transition: all 200ms cubic-bezier(0.25, 1, 0.5, 1);
  }
  :global(.card:active) {
    transform: scale(0.97);
    background-color: #dde1e6;
    border: 2px #dde1e6 solid;
    transition: all 50ms cubic-bezier(0.25, 1, 0.5, 1);
  }
  @media screen and (min-width: 1024px) {
    :global(.card:hover) {
      border: #dde1e6 2px solid;
      background-color: #f2f4f8;
      transition: all 100ms cubic-bezier(0.25, 1, 0.5, 1);
      cursor: pointer;
    }
    :global(.card:active) {
      background-color: #dde1e6;
    }
  }
</style>

<div class={"card-simple " + (disabled ? '' : 'card')} on:click {disabled}>
  <slot />
</div>
