<script>
  import { onMount } from 'svelte'
  export let percent = 50;
  let initial = 0;

  let circle;

  function setProgress(value) {
    var radius = circle.r.baseVal.value;
    var circumference = radius * 2 * Math.PI;
    circle.style.strokeDasharray = `${circumference} ${circumference}`;
    circle.style.strokeDashoffset = `${circumference}`;
    const offset = circumference - value / 100 * circumference;
    circle.style.strokeDashoffset = offset;
  }

  onMount(() => {
    setProgress(percent)
  });
</script>

<style>
  .progress-ring__circle {
  stroke-dashoffset: 100%;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
</style>

<svg
  width="32"
  height="32"
  viewBox="0 0 32 32"
  fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <circle
    class="progress-ring__circle"
    cx="16"
    cy="16"
    r="12"
    stroke="#f2f4f8"
    stroke-width="8" />
  <circle
    class="progress-ring__circle"
    bind:this={circle}
    cx="16"
    cy="16"
    r="12"
    stroke="#2F80ED"
    stroke-width="8" />
</svg>
