<style>
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
input {
    padding: 12px 16px;
    font-family: inherit;
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms cubic-bezier(0.25, 1, 0.5, 1);
  }
.custom-file-input::before {
  content: 'ЗАГРУЗИТЬ АВАТАР';
  color: black;
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}
</style>

<input class="custom-file-input" type="file"/>
