<script>
  import { onMount } from 'svelte'
  export let percentage = 100

  export let bar

  onMount(() => {
    bar.style.maxWidth = `${percentage}%`
  })
</script>

<style>
  .bar {
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: #2F80ED;
    max-width: 0px;
    transition: max-width 1000ms cubic-bezier(0.25, 1, 0.5, 1);
  }
  .bar-background {
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: #dde1e6;
  }
</style>

<div class="bar-background">
  <div bind:this={bar} class="bar"></div>
</div>