<script>
  export let segment;

  let lang = 'ru'

  const pages = [
    {
      link: ".",
      title: {
        'ru': "Главная",
        'en': 'Dashboard'
      },
      icon: `<svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true"><path d="M16.61,2.21a1,1,0,0,0-1.24,0L1,13.42,2.24,15,4,13.62V26a2,2,0,0,0,2,2H26a2,2,0,0,0,2-2V13.63L29.76,15,31,13.43ZM18,26H14V18h4Zm2,0h0V18a2,2,0,0,0-2-2H14a2,2,0,0,0-2,2v8H6V12.06L16,4.27l10,7.8V26Z"></path><title>Home</title></svg>`
    },
    {
      link: "problems",
      title: {
        'ru': "Задачи",
        'en': 'Problems'
      },
      icon: `<svg width="32" height="32" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.2884 4.67596C20.3972 3.78473 19.1851 3.25 17.8304 3.25H12.9822H8.13391C6.77925 3.25 5.56718 3.78473 4.67596 4.67596C3.78473 5.56718 3.25 6.77925 3.25 8.13391V13.0178V17.8661C3.25 19.2207 3.78473 20.4328 4.67596 21.324C5.56718 22.2153 6.77925 22.75 8.13391 22.75H13.0178H17.8661C19.2207 22.75 20.4328 22.2153 21.324 21.324C22.2153 20.4328 22.75 19.2207 22.75 17.8661V12.9822V8.13391C22.7144 6.77925 22.1796 5.56718 21.2884 4.67596ZM9.98766 14.9785L7.95567 17.0105L7.31399 16.3688L6.6723 15.7271L8.06261 14.3368L9.45292 12.9465L8.06261 11.5562L6.6723 10.1659L7.31399 9.52422L7.95567 8.88254L9.98766 10.9145L12.0197 12.9465L9.98766 14.9785ZM18.8286 16.3688V17.2957H16.0836H13.3387V16.3688V15.442H16.0836H18.8286V16.3688Z" fill="currentColor"/></svg>`
    },
    {
      link: "stats",
      title: {
        'ru': "Статистика",
        'en': 'Stats'
      },
      icon: `<svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true"><path d="M13,30A11,11,0,0,1,13,8a1,1,0,0,1,1,1v9h9a1,1,0,0,1,1,1A11,11,0,0,1,13,30ZM12,10.06A9,9,0,1,0,21.94,20H14a2,2,0,0,1-2-2Z"></path><path d="M28,14H19a2,2,0,0,1-2-2V3a1,1,0,0,1,1-1A11,11,0,0,1,29,13,1,1,0,0,1,28,14Zm-9-2h7.94A9,9,0,0,0,19,4.06Z"></path><title>Diagram</title></svg>`
    },
    {
      link: "contests",
      title: {
        'ru': "Олимпиады",
        'en': 'Contests'
      },
      icon: `<svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true"><path d="M23 2L24.593 5 28 5.414 25.5 7.667 26 11 23 9.125 20 11 20.5 7.667 18 5.414 21.5 5 23 2z"></path><path d="M22.7168,13.249l-1.9375-.498A6.9942,6.9942,0,1,1,15.7505,4.22l.499-1.9365A8.99,8.99,0,0,0,8,17.689V30l6-4,6,4V17.7078A8.9627,8.9627,0,0,0,22.7168,13.249ZM18,26.2627l-4-2.6665-4,2.6665V19.05a8.9238,8.9238,0,0,0,8,.0062Z"></path><title>Badge</title></svg>`
    },
  ];
</script>

<style>

  :global(*) {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: #f2f4f8 2px solid;
    box-sizing: border-box;
    z-index: 5000;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 100%;
  }

  /* clearfix */
  ul::after {
    content: "";
    display: block;
    clear: both;
  }

  li {
    display: block;
    float: left;
    flex-basis: 0;
    flex: 1 1 0px;
  }

  a {
    width: 100%;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 9px;
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    position: relative;
  }

  a:active {
    transform: scale(0.9);
    background-color: #f2f4f8;
    color: black;
    transition: all 20ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  [aria-current] {
    color: #4589ff;
  }
  [aria-current]::after {
    position: absolute;
    border-top: #4589ff 2px solid;
    top: -2px;
    right: 25%;
    width: 50%;
    box-sizing: border-box;
    content: '';
  }

  :global(a svg) {
    width: 24px;
    height: 24px;
  }

  @media screen and (min-width: 1024px) {
    nav {
      top: 0;
      bottom: 0;
      left: 0;
      right: auto;
      width: 300px;
      height: 100%;
      border: none;
      border-right: #f2f4f8 2px solid;
      background-color: rgb(255, 255, 255);
    }
    ul {
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: flex-start;
    }
    li {
      flex: 0;
      height: 48px;
      padding: 0;
      margin: 8px 0 0 0;
    }
    a {
      flex-direction: row;
      justify-content: flex-start;
      border-radius: 0;
      font-size: 10px;
    }
    a:hover {
      background-color: #f2f4f8;
    }
    a:active {
      transform: scale(0.99);
    }
    :global(a svg) {
      margin: 16px;
    }
    [aria-current]::after {
    position: absolute;
    border: none;
    border-right: #4589ff 2px solid;
    top: 25%;
    right: -2px;
    width: auto;
    height: 50%;
    box-sizing: border-box;
    content: '';
  }
  }
</style>

<nav>
  <ul>
    <!-- <li><a aria-current="{segment === undefined ? 'page' : undefined}" href=".">home</a></li>
		<li><a aria-current="{segment === 'about' ? 'page' : undefined}" href="about">about</a></li>
    <li><a rel=prefetch aria-current="{segment === 'blog' ? 'page' : undefined}" href="blog">blog</a></li> -->
    {#each pages as page}
      <li>
        <a rel=prefetch
          aria-current={segment === page.link ? 'page' : (segment === undefined && page.link === '.' ? 'page' : undefined)}
          href={page.link}>
          {@html page.icon}
          {page.title[lang]}
        </a>
      </li>
    {/each}
    <!-- <li>
      <a href='.' on:click={() => lang = lang === 'en' ? 'ru' : 'en'}>{lang}</a>
    </li> -->
  </ul>
</nav>
