<script>
import { onMount } from 'svelte';

  import Card from './Card.svelte'
  export let date = new Date("Sept 23, 2020, 12:00:00").getTime()

  let now = new Date().getTime()

  let distance1 = date - now
  let days = Math.floor(distance1 / (1000 * 60 * 60 * 24)),
  hours =  Math.floor((distance1 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)),
  minutes = Math.floor((distance1 % (1000 * 60 * 60)) / (1000 * 60)),
  seconds = Math.floor((distance1 % (1000 * 60)) / 1000)

  onMount(() => {
    setInterval(() => {
    let distance = date - new Date().getTime()
    days = Math.floor(distance / (1000 * 60 * 60 * 24));
    hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    seconds = Math.floor((distance % (1000 * 60)) / 1000);
    }, 1000)
  })
</script>

<style>
  .counter {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .time {
    display: block;
    margin: 12px 8px;
    font-size: 12px;
    text-align: center;
    color: #2F80ED;
  }
  h1 {
    font-weight: 800;
    text-align: center;
    font-size: 36px;
    margin: 0;
  }
  h2 {
    font-size: 16px;
    font-weight: 600;
    opacity: 0.8;
    margin: 8px;
    text-align: center;
  }
</style>

<Card on:click>
  <h2>Олимпиада через:</h2>
  <div class="counter">
    <div class="time">
      <h1>{days}</h1>
      дней
    </div>
    <div class="time">
      <h1>{hours}</h1>
      часов
    </div>
    <div class="time">
      <h1>{minutes}</h1>
      минут
    </div>
    <div class="time">
      <h1>{seconds}</h1>
      секунд
    </div>
  </div>
</Card>