
<script>
  import { fullWidth } from "validator/lib/isFullWidth";
    import Button from "./Button.svelte";
    import TextField from "./TextField.svelte";
  
    export let value = "";
    export let types = 'establishment'
    export let inputtype = 'textquery'

    export let countryCode = 'kg'
  
    export let selected = false
  
    export let placeholder = "Начните набирать ваш город/село";
  
    let results = []
  
    $: console.log(results);
  
    const searchPlace = async (input) => {
      try {
        let response = await fetch('/findPlace', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'Accepts': 'application/json',
          },
          body: JSON.stringify({
            input: encodeURIComponent(input),
            inputtype,
            types,
            countryCode
          })
        })
        let result = await response.json()
        results = result.predictions
      }
      catch (err) {
        console.log(err);
      }
    }

    const handleInput = (evt) => {
      selected = false
      const target = evt.target;
      value = target.value;
      searchPlace(value)
    };
  </script>
  
  <style>
    .search-bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .flexible-container {
      display: block;
      padding: 8px;
      margin: 0;
      width: 100%;
      box-sizing: border-box;
      list-style-type: none;
    }
    :global(.idc--item) {
      padding: 4px 12px;
      margin: 2px 0px;
      background-color: transparent;
      color: rgba(0, 0, 0, 0.67);
      transition: all 200ms cubic-bezier(0.25, 1, 0.5, 1);
      border-radius: 8px;
      cursor: pointer;
    }
    :global(.idc--item:hover) {
      color: rgb(47, 128, 237, 0.8);
      background-color: #f2f4f8;
    }
    :global(.idc--item:active) {
      transform: scale(0.9);
      background-color: #dde1e6;
      transition: all 50ms cubic-bezier(0.25, 1, 0.5, 1);
    }
    ul::after {
      content: "";
      display: block;
      clear: both;
    }
  </style>
  
  <TextField {value} type="search" on:input={handleInput} {placeholder} />
  
  <ul class="flexible-container">
    {#each results as place}
    <li class="idc--item" on:click={() => {
      value = place.description
      results = []
      selected = value
    }}>
      {place.description}
    </li>
    {/each}
  </ul>
  
  