<script>
  export let options = []
  export let selected;
  export let decorator = ""
</script>

<style>
    * {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
  }
  .idc--select {
    padding: 10px 12px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #f2f4f8;
    color: #878d96;
    border: 2px #dde1e6 solid;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    transition: 100ms ease all;
  }
  .idc--select:focus {
    color: #343a3f;
    border: 2px #343a3f solid;
    transform: scale(0.95);
    transition: 100ms ease all;
  }
  .idc--form-item {
    margin: 8px 8px;
    display: block;
    flex-grow: 1;
  }
</style>
<div class="idc--form-item">
  <select name="" id="" class="idc--select" bind:value={selected}>
    {#each options as option}
      <option value={option}>{option + decorator}</option>
    {/each}
  </select>
</div>