<script>
  export let placeholder = "Placeholder",
    id = "input--1",
    error = false,
    type = "text",
    value = "",
    name = "",
    // pattern = "",
    search = false;
  const fixedType = type;

  export let label = false;
</script>

<style>
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  * {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
  }

  .idc--text-input {
    padding: 10px 12px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #f2f4f8;
    color: #878d96;
    border: 2px #dde1e6 solid;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    transition: 100ms ease all;
  }

  .idc--text-input::placeholder {
    color: #878d96;
  }

  .idc--text-input:focus {
    color: #343a3f;
    border: 2px #343a3f solid;
    transform: scale(0.95);
    transition: 100ms ease all;
  }

  .idc--form-item {
    margin: 8px 8px;
    display: block;
    flex-grow: 1;
  }

  .idc--text-input-wrapper {
    display: block;
    position: relative;
  }

  .idc--form-requirement {
    margin: 4px 14px 0px 14px;
    color: #fa4d56;
    font-size: 12px;
    font-weight: 600;
  }

  .idc--text-input-invalid {
    border-color: #fa4d56;
  }

  .idc--icon {
    position: absolute;
    right: 20px;
    top: 12px;
    color: currentColor;
    z-index: 1000;
  }
  .idc--text-input__field-wrapper {
    position: relative;
  }
</style>

<div class="idc--form-item idc--text-input-wrapper">
  {#if label}<label for={id} class="idc--label">{label}</label>{/if}
  <div class="idc--text-input__field-wrapper">
    {#if type === 'search'}
      <svg
        class="idc--icon"
        focusable="false"
        preserveAspectRatio="xMidYMid meet"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        width="20"
        height="20"
        viewBox="0 0 32 32"
        aria-hidden="true"><path
          d="M30,28.59,22.45,21A11,11,0,1,0,21,22.45L28.59,30ZM5,14a9,9,0,1,1,9,9A9,9,0,0,1,5,14Z" />
        <title>Search</title></svg>
    {/if}
    <input
      {id}
      {type}
      {value}
      {placeholder}
      {name}
      on:input
      class={'idc--text-input ' + (error ? 'idc--text-input-invalid' : '')} />
  </div>
  {#if error && error != ''}
    <div class="idc--form-requirement">{error}</div>
  {/if}
</div>
